apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: photoverify
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      securityContext:
        fsGroup: 1001
      initContainers:
        - name: fix-permissions
          image: busybox:1.36
          command: ['sh', '-c', 'chown -R 1001:1001 /app/public/uploads && chmod -R 755 /app/public/uploads']
          volumeMounts:
            - name: uploads-storage
              mountPath: /app/public/uploads
          securityContext:
            runAsUser: 0
      containers:
        - name: frontend
          image: photoverify-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: DATABASE_URL
            - name: NEXT_PUBLIC_BASE_URL
              value: "http://localhost:30000"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
          volumeMounts:
            - name: uploads-storage
              mountPath: /app/public/uploads
      volumes:
        - name: uploads-storage
          persistentVolumeClaim:
            claimName: frontend-uploads-pvc
